.counter{
    font-style: 2rem;
    font-weight: 600;
    color: #0a2b1e;
}
.counter__title{
    font-style: 1rem;
    columns: #0a2b1e;
    font-weight: 500;
}

.about_content{
    padding-left: 50%;
}