

.hero_content h2{
    font-weight: 600;
    line-height: 55px;
}

.hero_content{
    padding-top: 80px;
}
.search input{
    border: none;
    outline: none;
    padding: 7px 10px;
}
.search{
    width: 60%;
    border: 1px solid aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
}

.search button{
    background-color: #0a2b1e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    margin: 4px 2px;
}